
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <div class="col-12 px-5">
            <h1 class="mt-5">Flyer & Poster</h1>
   <p>Whether to introduce a product, brand or company it is very useful to initialize Flyer & Poster. The flyer could be very effective and handy advertise solution for a brand or company as well as posters are useful for public area advertisement place.Let our consumers know about our company brands and product both very useful.</p>
          </div>
   </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
       <!--Content starts-->
       <section class="section mt-5 section-lg pt-4 pb-0 views">
        <div class="container">
          <div class="card views shadow-lg border-0">
            <div class="p-5">
              <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white">Some of our works that you might like</h2>
            </div>
             
              </div>
            </div>
          </div>
        </div>
      </section>
       <section class="section section-lg pt-lg-0 mt--10">
           <app-cards-portfolio></app-cards-portfolio>
      </section>
     