
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <div class="col-12 px-5">
            <h1>Design & Artwork</h1>
            <p>Small, handy and full of useful information for target groups.Production of goods and services, processing and categorizing information to motivate and inform the existing and potential Customers, is every business house's desire. Your graphical presence is prospective communication for your clients about your company. An excellent graphic/artwork design straightaway connects your corporate style and philosophy.It’s the foundation of your company, brand and one of your supreme primary assets. Moreover, we stress on two main leading principles in graphics/artwork design – CONCEPT AND EXECUTION</p>
            <h2 style="margin-top: 5%;color: antiquewhite;font-weight: 300;">Graphic design & artwork services</h2>
       
        </div>
   </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <section class="section section-lg pt-lg-0 mt--10">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
              
                  <div class="col-lg-3">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body text-center">
                        <h6 class="text-primary text-uppercase">Graphical & Conceptual</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body text-center">
                        <h6 class="text-primary text-uppercase">Logo design</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body text-center">
                        <h6 class="text-primary text-uppercase">Brochures & Catalogue</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="card card-lift--hover shadow border-0">
                      <div class="card-body">
                        <h6 class="text-primary text-uppercase">Product Packaging</h6>
                      </div>
                    </div>
                  </div>
               
              </div>
            </div>
            <div class="col-lg-12 mt-2">
                <div class="row row-grid">
                
                    <div class="col-lg-3">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Flayers</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Brand Promotion Design</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Stationary</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body">
                          <h6 class="text-primary text-uppercase">Point of a safe display</h6>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>
              <div class="col-lg-12 mt-2">
                <div class="row row-grid">
                
                    <div class="col-lg-3">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Banners and Billboards</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Posters</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body text-center">
                          <h6 class="text-primary text-uppercase">Stationary</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 text-center">
                      <div class="card card-lift--hover shadow border-0">
                        <div class="card-body">
                          <h6 class="text-primary text-uppercase">Point of a safe display</h6>
                        </div>
                      </div>
                    </div>
                 
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="section section-lg pt-4 pb-0">
        <div class="container">
          <div class="card bg-gradient-primary shadow-lg border-0">
            <div class="p-5">
              <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white">Lets Get Started Your Project</h2>
                  <p class="lead text-white mt-3">For more details about our services, feel free to knock us! Also for a speedy price quote, email us to ask for a quote. We will manage reliable and cost effective quote as per your requirement.</p>
                  <button class="btn bg-gradient-secondary">Request a quote</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </section>