
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <div class="col-12 px-5">
            <h1 class="mt-5">Logos & Branding</h1>
            <p>Hallmarking your hard work!
                Everyone from business house to freelancers put effort into their work. Likewise, everyone wants to get recognized in competitive markets. Likewise, Logos & Branding set Trend on the market along with hard work combined. Don’t just work, say what you are doing. Moreover, Logos get noticeable, people are curious by nature and they will definitely check out what is behind that logo. Well Designed logo increases the potential for expansion.</p>
         
        </div>
   </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
       <!--Content starts-->
       <section class="section section-lg pt-lg-0 mt--10">
        <app-logos-portofolio></app-logos-portofolio>
      </section>
     