

  /* Custom, iPhone Retina */ 
  @media only screen and (min-width : 320px) {
    h1{
      font-size: 2em;
      font-weight: 400; 
    }
  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {
    h1{
      font-size: 2em;
      font-weight: 400; 
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    h1 {
      color: whitesmoke;
      font-size: 3em;
      font-weight: 600; 
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    h1 {
      color: whitesmoke;
      font-size: 3em;
      font-weight: 600; 
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    h1 {
      color: whitesmoke;
      font-size: 3em;
      font-weight: 600; 
    }
  }