* {
  background-color: #EBECF0;
  font-size: 12px;
}

.themed-block{
  --back-color: #EBECF0;
  --text-color: #A2B1CA;
  --title-color: #6C7A92;
  --shadow-color: 0, 0, 0;
  --light-color: 255, 255, 255;
  --border-active-color: #EEE;
  --main-action-left: #779DFF;
  --main-action-right: #9EB8FF;
  background-color: var(--back-color);
}

.btn:focus {
  outline: none;
}

.neumorphic-btn {
  padding: 10px 15px;
  border-radius: 25px;
  background-color:#ebecf0;
  border: 2px solid #ebecf0;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, .3), -7px -7px 15px 0px rgba(255, 255, 255, 1), inset 0px 0px 0px 0px rgba(0,0,0, 0), inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
  transition: all .25s ease;
  color: var(--text-color);
  font-size: 12px;
  text-shadow: 0px 0px 2px rgba(var(--text-color), 0);
}

.neumorphic-btn:focus {
  box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1), inset 0px 0px 0px 0px rgba(var(--shadow-color), 0), inset 0px 0px 0px 0px rgba(var(--light-color), 0);
  text-shadow: 0px 0px 2px rgba(var(--text-color), 0);
}

.neumorphic-btn:active {  
  box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1), inset 4px 4px 8px 0px rgba(var(--shadow-color), .3), inset -4px -4px 8px 0px rgba(var(--light-color), 1) !important;
  border: 2px solid var(--border-active-color);
  text-shadow: 0px 0px 2px rgba(var(--text-color), .3);
}

.neumorphic-btn_primary {
  background: linear-gradient(135deg, var(--main-action-left), var(--main-action-right));
  color: #E0E0E0;
}

.neumorphic-btn_primary:active {
  box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1), inset 4px 4px 20px 0px rgba(0, 0, 0, .3) !important;
}

.neumorphic-btn_fab {    
  padding: 5px 5px;
}

.neumorphic-card {
  background-color: var(--back-color);
  box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1);
  padding: 25px;
  border-radius: 35px;
  width: max-content;
}

.neumorphic-text {
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.neumorphic-text_title {
  font-size: 13px;
  color: var(--title-color);
}

.neumorphic-card__body {
  padding: 15px 0;
}

.neumorphic-image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid var(--back-color);
  box-shadow: 7px 7px 15px 5px rgba(var(--shadow-color), .3), -4px -4px 5px 7px rgba(var(--light-color), 1);
}






.player-controls {
 padding: 10px 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1), inset -1px -1px 2px 0px rgba(var(--shadow-color), .3), inset 1px 1px 2px 0px rgba(var(--light-color), 1);
}
