
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn:focus {
  outline:none !important;
}
h2,h3,h5,h4{
  color: #75758a;
}

.neumorphic-btn {
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 40px;
  color: #6D7587;
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
              -2px -2px 4px 2px rgba(255, 255, 255, 1), 
              inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
              inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;
}

.neumorphic-btn:active {  
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(55, 84, 170, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
}


/* Pretty Stuff */
.contact-form-container {
  background: #F4F3F3;
  font-family: "Lato", sans-serif;
}

.contact-us {
  position: relative;
  width: 250px;
  background: #C3E0EC;
  overflow: hidden;
}
.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #F8B7D8;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #9ED8EB;
  transform: rotate(-25deg);
}

.contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}
.contact-header h1 {
  font-size: 1.5rem;
}

.social-bar {
  position: absolute;
  bottom: 20px;
  left: 75px;
  z-index: 1;
  width: 100px;
}
.social-bar ul {
  list-style-type: none;
}
.social-bar ul li {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: -4px;
  font-size: 1.2rem;
}

.header {
  text-align: center;
  padding: 20px 0;
  color: #75758a;
}
.header h1 {
  font-weight: normal;
}
.header h2 {
  margin-top: 10px;
  font-weight: 300;
}

.address, .email, .phone {
  text-align: center;
  padding: 20px 0;
  color: #75758a;
}
.address h3, .email h3, .phone h3 {
  font-size: 1rem;
  font-weight: 300;
}
.address i, .email i, .phone i {
  color: #dadbe0;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

form {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
  }
  
  .segment {
    padding: 32px 0;
    text-align: center;
  }
  
  button, input, textarea {
    border: 0;
    outline: 0;
    font-size: 17px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
  }
  
  input, textarea {
      padding: 7px 22px 7px 22px;
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  input:focus, textarea:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }
  button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  button .icon {
    margin-right: 8px;
  }
  button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px;
  }
  button.unit .icon {
    margin-right: 0;
  }
  button.red {
    display: block;
    width: 100%;
    color: #AE1100;
  }

.contact-form {
  padding-bottom: 40px;
}
.n-text {
  color: #f4f3f3;;
  text-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #FFF;
  font-size: 3em;
  font-weight: bold;
}

/* Layout Stuff */
body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2042508-jpeg.jpg");
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-items: center;
}

.contact-form-container {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
}

.contact-us {
  grid-area: contact-us;
}

.header {
  grid-area: header;
}

.address {
  grid-area: address;
}

.phone {
  grid-area: phone;
}

.email {
  grid-area: email;
}

.contact-form {
  grid-area: contact-form;
}