<div class="contact-form-container">
    <div class="contact-us">
      <div class="contact-header">
        <h1>
          &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACT US
        </h1>
      </div>
      <div class="social-bar">
        <ul>
          <li>
            <i class="fa fa-facebook-f"></i>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-instagram"></i>
          </li>
          <li>
            <i class="fa fa-dribbble"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="header">
      
      <div class="n-text">Quote Request</div>
      <h2 style="font-size: 14px;">
        Lets Us Know About your Requirements
      </h2>
    </div>
    <div class="address">
      <button type="button" class="my-1 btn neumorphic-btn"> <i class="fa fa-map-marker"></i></button>
     
      <h3 style="font-size: 14px;">
        Aitabare
      </h3>
      <h3  style="font-size: 12px;">
        Itahari, Sunsari
      </h3>
    </div>
    <div class="phone">
      <button type="button" class="my-1 btn neumorphic-btn">  <i class="fa fa-phone"></i></button>
      <h3 style="font-size: 12px;">
        981000010101
      </h3>
    </div>
    <div class="email">
      <button type="button" class="my-1 btn neumorphic-btn">  <i class="fa fa-envelope"></i></button>
      <h3 style="font-size: 12px;">
        bluefoxmedia@gmail.com
      </h3>
    </div>
    <div class="contact-form">
      <form>
        <label>
            <input type="text" placeholder="Full Name"/>
          </label>
          <label>
            <input type="email" placeholder="Email Address"/>
        </label>
        <label>
            <input type="number" placeholder="Contact No"/>
        </label>
        <label>
            <input type="text" placeholder="Full Address"/>
        </label>
        <label>
            <textarea placeholder="Write your requirements" rows="3"> Write your requirements </textarea>
          </label>
          <button class="red" type="button"><i class="icon ion-md-lock"></i> Submit</button>
  
     </form>
    </div>
  </div>
  <!-- partial -->
    