
<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
        <div class="col-12 px-5">
            <h1>Website & Online</h1>
            <p>A picture is worth a thousand words and a well-designed website can propel your business to new heights. An online, web and social media presence has become an essential part of the business in order to grow, thrive and survive. With expert guidance, you can tap into a wider audience to increase profits and opportunity.
        
                Grant your presence 24/7 for your potential customers. We are here for your web design and development in Nepal.</p>
         
        </div>
   </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <!-- <div class="content flex mt-5">
  <app-pricing></app-pricing>
    </div> -->
    <app-pricing></app-pricing>
    <section class="section section-lg pt-4 pb-0">
        <div class="container">
          <div class="card bg-gradient-primary shadow-lg border-0">
            <div class="p-5">
              <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                  <h2 class="text-white">Lets Get Started Your Project</h2>
                  <p class="lead text-white mt-3">For more details about our services, feel free to knock us! Also for a speedy price quote, email us to ask for a quote. We will manage reliable and cost effective quote as per your requirement.</p>
                  <button class="btn bg-gradient-secondary">Request a quote</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
      </section>